<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="style.css">
<head>
    <meta charset="utf-8" />
    <title>お絵描き DEMODEMO</title>
</head>

<body>
    <canvas id="canvas" width="500" height="300" style="border: solid 1px #000;box-sizing: border-box;"></canvas>
    <div class="option">
        <div class="color">
            色：
            <a href="" class="black" data-color="0, 0, 0, 1"></a>
            <a href="" class="red" data-color="255, 0, 0, 1"></a>
            <a href="" class="blue" data-color="0, 0, 255, 1"></a>
        </div>
        <div class="bold">
            太さ：
            <a href="" class="small" data-bold="1">小</a>
            <a href="" class="middle" data-bold="5">中</a>
            <a href="" class="large" data-bold="10">大</a>
        </div>
    </div>
    <input type="button" value="clear" id="clear">
    <a id="download" href="#" download="canvas.jpg">ダウンロード</a>
    <input id="uploadimage" type="file" name="image" accept="image/jpeg,image/png">
    <div id="result"><img src=""></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="draw.js"></script>
</body>

</html>